extends layout

block content
  .container
    .row.single
      .col-md-4
        .empty-space
        .title Symptoms
        .body= failure.symptoms
      .col-md-6
        h1= failure.title
        .title Hotfix
        .body= failure.hotfix
        .title Description
        .body= failure.description
        .empty-space
        .author.text-right by
          span &nbsp;sirodoht
