doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700")
    link(rel="stylesheet", href="/style.css")
  body
    .jumbotron
      nav.navbar.navbar-default
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="/")= brand
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/auth/github") GitHub Login
              li
                a(href="/logout") Log out

      .container
        h1= title
        p.lead= subtitle
    block content
    footer
      script(type="application/javascript", src="/script.js")
