extends layout

block content
  .container
    .row
      .col-md-12
        .list
          ul
            each muddle in muddles
              li
                a(href="/readOne/" + muddle.id)
                  .title= muddle.title
                .symptom= muddle.symptoms
                if muddle.anon
                  .author.text-right by
                    span &nbsp;anonymous
                else
                  .author.text-right by&nbsp;
                    a(href=muddle.authorLink)= muddle.author
